/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/dashboard/admin.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.admin_tableContainer__l5A0o {
    max-height: 500px;
    overflow-x: auto;
  }
  
  .admin_tableContainer__l5A0o table {
    min-width: 600px;
  }
  


  .admin_tableContainer__l5A0o td, .admin_tableContainer__l5A0o th {
    white-space: nowrap; 
  }
  
  .admin_buttonContainer__ZtTyR {
    display: flex;
    justify-content: flex-start;
  }
  
  .admin_btn-table__IGEy4 {
    background-color: #81BA27;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 2px;
    font-size: 14px;
    transition-duration: 0.4s;
  }
  
  .admin_btn-table__IGEy4:hover {
    background-color: #0056b3;
  }
  
  .admin_tableContainer__l5A0o th:last-child,
  .admin_tableContainer__l5A0o td:last-child {
    width: 250px; 
  }
